<% form_for :recenzja, :url => recenzje_path(:film_id => @film) do |f| %>
  <p>
    <label for="recenzja_author_name">Twój nick:</label>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <label for="recenzja_stars">Stars:</label>
    <% 1.upto(5) do |i| %>
      <%= f.radio_button :stars, i %>
      <%= i %>
    <% end %>
  </p>
  <p>
    <label for="recenzja_content">Recenzja:</label><br />
    <%= f.text_area :content, :rows => 8 %>
  </p>
  <p>
    <%= submit_tag "Dodaj recenzję" %>
  </p>
<% end %>
